/* particles css 
from https://github.com/VincentGarreau/particles.js/
*/
#particles-js{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}
#particles-js.active{
  opacity: 1;
}
#particles-js.inactive{
  opacity: 0;
}


/* carousel css 
from https://github.com/HoangTran0410/3DCarousel/
*/
* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  /* for touch screen */
  touch-action: none; 
}

body {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #111;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

#drag-container, #spin-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotateX(-10deg);
          transform: rotateX(-10deg);
}

#drag-container img, #drag-container video {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  line-height: 200px;
  font-size: 50px;
  text-align: center;
  -webkit-box-shadow: 0 0 8px #fff;
          box-shadow: 0 0 8px #fff;
  -webkit-box-reflect: below 10px linear-gradient(transparent, transparent, #0005);
}

#drag-container img:hover, #drag-container video:hover {
  -webkit-box-shadow: 0 0 15px #fffd;
          box-shadow: 0 0 15px #fffd;
  -webkit-box-reflect: below 10px linear-gradient(transparent, transparent, #0007);
}

#drag-container p {
  font-family: Serif;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%) rotateX(90deg);
          transform: translate(-50%,-50%) rotateX(90deg);
  color: #fff;
}

#ground {
  width: 900px;
  height: 900px;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%) rotateX(90deg);
          transform: translate(-50%,-50%) rotateX(90deg);
  background: -webkit-radial-gradient(center center, farthest-side , #9993, transparent);
}

#music-container {
  position: absolute;
  top: 0;
  left: 0;
}


.facebook-wrapper {
  position: fixed;
  display: flex;
  top: 0;
  height: 520px;
  top: 0;
  bottom: 0;
  left: 4rem;
  right: 4rem;
  margin: auto;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}

.facebook-main {
  flex: 1;
  width: 100%;
  background-color: #000;
  margin-left: auto;
  margin-right: auto;
}

.facebook-main img{
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.facebook-sidebar {
  width: 50%;
  background-color: #fff;
  padding: 32px 0 16px 0;
}

.facebook-info {
  position: relative;
  top: 10;
  bottom: 10;
  left: 10;
  right: 10;
}

@media (max-width: 800px) {
  .facebook-sidebar {
    display: none;
  }
}

.facebook-close {
  position: fixed;
  top: 8px;
  right: 8px;
  width: 32px;
  cursor: pointer;
  fill: #ddd;
}

@-webkit-keyframes spin {
  from{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  } to{
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

@keyframes spin {
  from{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  } to{
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}
@-webkit-keyframes spinRevert {
  from{
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  } to{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}
@keyframes spinRevert {
  from{
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  } to{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}


/* -------------------------------
=============
Bio in middle
=============
-------------------------------*/

.bio-wrapper {
  margin-top: -2rem;
  width: 80%;
  height: 10%;
  overflow:hidden;
  text-align: center;
}

.bio-info-wrapper {
  position: absolute;
  backdrop-filter: blur(0px) saturate(180%);
  -webkit-backdrop-filter: blur(0px) saturate(10%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.dp-circle {
  margin-top: -2rem;
  position: relative;
  width: 12.5rem;
  height: 12.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dp-img {
  position: absolute;
  width: 10rem;
  height: 10rem;
  background: url(media\img\myPic.JPG);
  background-size: cover;
  border-radius: 50%;
  transform: scale();
  overflow: hidden;
  z-index: -1;
}

h3 {
  color: #46BCDE;
  margin-top: -0.5rem;
  background-color: rgba(17, 25, 40, 0.75);
}

h2, h5 {
  color: #46BCDE;
}

.medium-zoom-image--opened {
  z-index: -1;
}